{% include 'navbar.html' %}
    <body>
        <main role="main" class="col-md-10 ml-sm-auto main-content">
            <div class="jumbotron mt-3">
                <h1 class="display-4">Hello!</h1>
                <p class="lead">This app helps to track workouts, nutrition and follow up goals.</p>
                <hr class="my-4">
                <p>Check out how to best use the site.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'learnmore' %}" role="button">Learn more</a>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add workout</h5>
                            <p class="card-text">Register a training session that you already took, or will take.</p>
                            <a href="{% url 'add_workout' %}" class="btn btn-primary">Add workout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add meal</h5>
                            <p class="card-text">Register meals that you had, or meals that you plan to have.</p>
                            <a href="{% url 'add_meal' %}" class="btn btn-primary">Add meal</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add bodyweight</h5>
                            <p class="card-text">Add your bodyweight to track your weight gain/loss progress.</p>
                            <a href="{% url 'add_weight' %}" class="btn btn-primary">Add weight</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add body measurements</h5>
                            <p class="card-text">Add your body measures to check progress by how you look, not just the scale.</p>
                            <a href="{% url 'add_measures' %}" class="btn btn-primary">Add measurements</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>


</html>