{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nutritracker</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"  type="text/css">
    </head>
    <body>
        <main>
            <section class="sidenav">
                <div class="titlesection">
                    <h1 class="apptitle"><a href="{% url 'home' %}" class="apptitle">NutriTracker</a></h1>
                    <hr>
                </div>
                <div class="menusection">
                    <ul class="menuitems">
                        <a href="{% url 'home' %}" class="sidenav_menuitem_button">Dashboard</a>
                    </ul>
                    <ul class="menuitems">
                        <a href="{% url 'add_meal' %}" class="sidenav_menuitem_button">Add Meal</a>
                    </ul>
                    <ul class="menuitems">
                        <a href="{% url 'add_workout' %}" class="sidenav_menuitem_button">Add Workout</a>
                    </ul>
                    <ul class="menuitems">
                        <a href="{% url 'add_weight' %}" class="sidenav_menuitem_button">Add Body Weight</a>
                    </ul>
                    <ul class="menuitems">
                        <a href="{% url 'add_measures' %}" class="sidenav_menuitem_button">Add Body Measures</a>
                    </ul>
                    <ul class="menuitems">
                        <a href="{% url 'set_goals' %}" class="sidenav_menuitem_button">Set Goals</a>
                    </ul>
                </div>
                <div class="settingssection">
                    <ul class="menuitems">
                        <a href="" class="sidenav_menuitem_button">HELP</a>
                    </ul>
                    <hr>
                    <ul class="menuitems">
                        <a href="" class="sidenav_menuitem_button">LOGOUT</a>
                    </ul>
                </div>
            </section>
            <section class="top_row">
                <div class="top_row_content_wrapper">
                    <h4>Welcome back, <br> Krisztian!</h4>
                    <div class="top_row_center_content">
                        <input type="text" class="searchbar top_row_center_content" placeholder="Search">
                    </div>
                    <div class="top_row_right_content">
                        <img class="userimg" src="{% static 'pictures/user.png' %}" class="top_row_right_content">
                
                    </div> 
                </div>
            </section>
        <main>
    </body>